:root {
    --midnight-purple-bg-color: 55, 27, 88;
    --midnight-purple-accent-color: 76, 53, 117;
    --midnight-purple-color: 91, 75, 138;
    --midnight-purple-highlight-color: 120, 88, 166;
    --midnight-purple-text-color: 120, 88, 166;
}